@import 'custom-styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Roboto-Black;
        src: url('../fonts/Roboto/Roboto-Black.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: Roboto-BlackItalic;
        src: url('../fonts/Roboto/Roboto-BlackItalic.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: Roboto-Bold;
        src: url('../fonts/Roboto/Roboto-Bold.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: Roboto-BoldItalic;
        src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: Roboto-Italic;
        src: url('../fonts/Roboto/Roboto-Italic.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: Roboto-Light;
        src: url('../fonts/Roboto/Roboto-Light.ttf');
        font-weight: normal;
        font-style: normal;
    }
}
